
@keyframes fadeIn {
    from {
        opacity: 0;
        visibility: hidden;
        transform: scale(0);
    }
    to {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-400px);        
    }
    to {
        transform: translate3d(0,0,0);
    }
}

@keyframes grow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

@keyframes bounce {
  0%, 40%, 80% {
      transform: translateY(-50px);
  }
  20%, 60%, 100% {
      transform: translateY(0);
  }
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
