$primary-color: rgb(22, 160, 133);

body {       
    margin: 0;
    font-size: 16px;
    font-family: 'Indie Flower', cursive;
}

section {
    font-size: 200%;    
}

.row {
    text-align: center;
    margin: 0 auto;
}